@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@1&family=EB+Garamond:ital@1&family=Hind:wght@300&family=Lora:ital,wght@0,500;1,500&family=Noto+Serif:ital,wght@1,200&display=swap');

body{
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
}

.contenedor{
    position: relative;
}

.imglogin{
    width: 100%;
    height: 99.5vh;
    opacity: 0.3;
    padding: 0;
    margin: 0;
}

.Bienvenida{
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
    text-align: center;
}

.logo{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
    text-align: center;
}

.imglogo{
    width: 90px;
    margin-bottom: 20px;
}

.fsesion{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
    text-align: center;
}

.dtslogin input{
    border-radius: 20px;
    height: 25px;
    text-align: center;
    font-size: 20px;
}

.fregistro label{
    border-width:c 4px;
    border-style: ridge;
    border-color: rgb(0, 0, 0);
    width: 50%;
}

.fregistro input{
    border-radius: 20px;
    height: 30px;
    text-align: center;
    font-size: 18px;
}

.fsesion button{
    border-radius: 20px;
    height: 28px;
    width: 150px;
    margin-top: 20px;

    background-color: black;
}

.fsesion button:hover{
    cursor: pointer;
    
}

.olvidar{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
    text-align: center;
}

.regresarl{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
    text-align: center;
    width: 70px;
}

.regresarl:hover{
    opacity: 0.65;
}

/*.fsesion a{
    color: rgb(255, 255, 255);
}

.fsesion a:hover{
font-weight: bolder;
}
*/

.textbutton{
    font-size: 15px;
    color: white;
}

.textbutton:hover{
    background-color: rgba(0, 0, 0, 0.734);
}

/* Responsivo para pantallas 375px */

#Ocontra{
    color: black;
}

#Ocontra:hover{
    color: brown;
}

