@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@1&family=EB+Garamond:ital@1&family=Hind:wght@300&family=Lora:ital,wght@0,500;1,500&family=Noto+Serif:ital,wght@1,200&display=swap');

body{
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
}

.contenedor{
    position: relative;
}

.imglogin{
    width: 100%;
    height: 100vh;
    opacity: 0.2;
    padding: 0;
    margin: 0;
}

.Bienvenida{
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 35px;
}

.Bienvenida h1:hover{
    text-shadow: 5px 5px 6px rgba(124, 28, 13, 0.7);
}

.logo{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
    text-align: center;
}

.imglogo{
    width: 90px;
    margin-bottom: 100px;
}

.fsesion{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
    text-align: center;
}

.dtslogin input{
    border-radius: 20px;
    height: 25px;
    text-align: center;
    font-size: 20px;
}

.fregistro label{
    border-width:c 4px;
    border-style: ridge;
    border-color: rgb(0, 0, 0);
    width: 50%;
}

.fregistro input{
    border-radius: 20px;
    height: 30px;
    text-align: center;
    font-size: 18px;
}

.sesion{
    margin: 35px;
    height: 40px;
    width: 155px;
}

.registro{
    margin: 35px;
    height: 40px;
    width: 155px;
}

button {
    --primary-color: #8C493E;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }
  
  button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  button:hover {
    background-color: var(--hover-color);
  }
  
  button:hover .arrow {
    background: var(--secondary-color);
  }
  
  button:hover .arrow:before {
    right: 0;
  }

.olvidar{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
    text-align: center;
}

.regresarl{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
    text-align: center;
    width: 70px;
}

.regresarl:hover{
    opacity: 0.65;
}

.textbutton{
    font-size: 15px;
    color: white;
}

.textbutton:hover{
    background-color: rgba(0, 0, 0, 0.734);
}

/* Responsivo para pantallas 375px */

#Ocontra{
    color: black;
}

#Ocontra:hover{
    color: brown;
}

@media (max-width:768px){
    .Bienvenida h1{
        text-shadow: 5px 5px 6px rgba(124, 28, 13, 0.7);
    }

    
}